.inputField {
  background-color: rgba(0, 0, 0, 0.7);
  margin-bottom: 10px;
  padding: 20px;
  border-color: grey;
  border-radius: 4px;
  width: 90%;
  font-size: medium;
  border-width: 1px;
  color: white;
}

.error {
  color: rgb(235, 57, 66);
  text-align: left;
}

.errorBorder {
  border-color: rgb(235, 57, 66);
}