#titleSlider {
  color: white;
  padding-top: 10px;
  padding-left: 10px;
  font-size: x-large;
}

.slider{
  margin: auto;
  width: 95%;
  position: relative;
}

.slider:hover{
  z-index: 20;
}

.slick-list{
  overflow: visible;
}

.slick-arrow {
  position: absolute;
  z-index: 15;
}