#titleSlider {
  color: white;
  padding-top: 10px;
  padding-left: 10px;
  font-size: x-large;
}

.slider{
  margin: auto;
  width: 95%;
  position: relative;
}

@media screen and (max-width: 1000px) {
  .slider {
      width: 90%;
      font-size: medium;
  }
}

@media screen and (max-width: 500px) {
  .slider {
      width: 80%;
      font-size: medium;
  }
}

.slider:hover{
  z-index: 20;
}

.slick-list{
  overflow: visible;
}

.slick-arrow {
  position: absolute;
  z-index: 15;
}