#mylistDivFirst {
    background-color: rgb(24 24 27);
    padding-top: 100px;
}

#titleMyList {
    padding-left: 7%;
}

.divRootMyList {
    display: flex;
    padding-left: 200px;
    flex-direction: row;
    flex-wrap: wrap;
}

@media screen and (max-width: 1000px) {
    .divRootMyList{
        padding-left: 0;
        justify-content: center;
    }
}

@media screen and (max-width: 400px) {
    #mylistDivFirst {
        padding-top: 50%;
    }
}