.playBackBtn {
    position: absolute;
    top: 80px;
    margin-left: 30px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
}

.playBackBtn:hover {
    background-color: rgba(0, 0, 0, 0);
    color: grey;
}

.fa-arrow-left {
    font-size: large;
}