.card-container {
    position: relative;
    width: 300px;
    margin: 40px 30px;
}

.cardOverlay {
    position: absolute;
    width: 100%;
    height: 340px;
    border-radius: 8px;
    z-index: 10;
    top: -50px;
    left: 0px;
    background-color: rgba(20, 20, 20, 0.923);
    color: white;
}

.card-image {
    width: 100%;
    height: 200px;
    border-radius: 5px;
}

.cardBtn {
    background-color: gray;
    color: white;
    border: none;
    width: 13%;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 5px;
    height: 10%;
}

.cardBtn:hover {
    background-color: rgba(94, 94, 94, 0.404);
}

.cardContent {
    margin-left: 20px;
    margin-top: 5px;
    font-size: medium;
}