.card-container {
    position: relative;
    z-index: 20
}

.card {
    position: absolute;
    width: 300px;
    height: 400px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    z-index: 10;
    top: -50px;
    left: -50px;
    background-color: rgba(20, 20, 20, 0.923);
    color: white;
    display: inline-block;
}

.card-image {
    width: 200px;
    height: 200px;
    z-index: 1;
}

.itemBtn{
    color: white;
    background-color: gray;
    width: 13%;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 5px;
    height: 10%;
    
}

.itemBtn:hover{
    background-color: rgba(94, 94, 94, 0.404);
}
.pItem{
    margin-left: 20px;
    margin-top: 5px;
}
