body {
  /* background-color: black; */
  background-color: rgb(24 24 27);
  /* padding-top: 100px; */
  font-family: 'Segoe UI', sans-serif;
}

#titleSlider {
  color: white;
  padding-top: 10px;
  padding-left: 10px;
}

div.slider{
  width: 95%;
  margin: auto;
}

.slider{
  position: relative;
  z-index: 15;
}

.divBehindCard{
  position: relative;
  z-index: 100;
}

div .sliderImg {
  width: 90%;
  height: 200px;
}

/* change size */
div .slider .smallImg{
  width: 200px;
  height: 200px;
}

.btnMylist{
  border-radius: 6px;
  width: 20%;
}

@media screen and (max-width: 700px) {
  div .sliderImg {
    height: 80px;
  }

  p {
    font-size: small;
  }
  /* .btnMylist{
    width: 20%;
  } */
  /* .smallImg{
    width: 70%;
  } */

}