body {
  /* background-color: black; */
  background-color: rgb(24 24 27);
  /* padding-top: 100px; */
  font-family: 'Segoe UI', sans-serif;
}

#titleSlider {
  color: white;
  padding-top: 10px;
  padding-left: 10px;
  position: relative;
  z-index: 3;
}

div.slider{
  width: 95%;
  margin: auto;
}

.divHeadSlider{
  position: relative;
  /* z-index: 1; */
  /* overflow: visible; */
  
}

.slider{
  /* not working gap */
  /* display: grid;
  gap: 70px; */
  /* background-color: blue; */
  /* overflow: hidden; */
  /* position: relative; */
  /* z-index: 4; */
}