body {
  background-color: black;
  font-family: 'Segoe UI', sans-serif;
}

#titleSlider {
  color: white;
  padding-top: 10px;
  padding-left: 10px;
}

div .slider{
  width: 95%;
  margin: auto;
}

div .sliderImg {
  width: 90%;
  height: 200px;
}


@media screen and (max-width: 700px) {
  div .sliderImg {
    height: 80px;
  }

  p {
    font-size: small;
  }

}