.divHelpRoot {
    background-image: url("https://assets.nflxext.com/ffe/siteui/acquisition/login/login-the-crown_2-1500x1000.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    border-radius: 1px;
}

.signInLink {
    color: red;
    font-size: medium;
    position: absolute;
    top: 20px;
    right: 20px;
}

.centerDiv {
    /* background-color: rgba(235, 235, 235, 0.8); */
    background-color: #f3f3f3;
    color: black;
    text-align: center;
    font-family: 'Segoe UI';
    font-size: large;
    padding: 30px;
    width: 27%;
    margin: auto;
}

@media screen and (max-width: 1500px) {
    .centerDiv {
        width: 40%;
    }
}

@media screen and (max-width: 1000px) {
    .centerDiv {
        width: 60%;
    }
}

@media screen and (max-width: 600px) {
    .centerDiv {
        font-size: large;
        width: 100%;
    }
}

.loginHelpPageBtn {
    background-color: #0080ff;
    color: white;
    width: 100%;
    font-size: large;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

div button:hover {
    background-color: #3690ea;
}

.aforgot {
    color: #0080ff;
    text-decoration: none;
    padding-top: 15px;
}

.emailInput {
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.divHelpRoot h1 {
    color: black;
}

.emailInput:focus {
    border-color: #0080ff;
}

.radioDiv {
    margin-bottom: 20px;
}

.radioDiv label {
    margin-bottom: 10px;
}