body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.getAddressBtn{
    background-color: red;
    color: white;
    margin-left: 10px;
    height: 60px;
    border-radius: 4px;
}

.signUpInput{
    background-color: inherit;
    margin-bottom: 10px;
    padding: 20px;
    border-color: grey;
    border-radius: 4px;
    font-size: medium;
    border-width: 1px;
    background-color:black;
  
}