#searchPageDivFirst {
    background-color: rgb(24 24 27);
    padding-top: 100px;
}

#titleSearch {
    padding-left: 7%;
}

.containerInSearch {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 200px;
}

@media screen and (max-width: 930px) {
    .containerInSearch {
        padding-left: 0;
        justify-content: center;
    }
}

@media screen and (max-width: 400px) {
    #searchPageDivFirst {
        padding-top: 50%;
    }
}