.div1{
    background-image:url("https://assets.nflxext.com/ffe/siteui/acquisition/login/login-the-crown_2-1500x1000.jpg");
}

.signInLink{
    color: red;
    /* TODO:add to the right of the page  */
}

.centerDiv{
    background-color: rgb(235, 235, 235);
    color: black;
    text-align: center;
    font-family: 'Segoe UI';
    font-size: 16px;
    padding: 10px 10px 10px 10px;
    width: 50%;
    margin:auto;
    min-width: 500px;
}

div button{
    background-color:#0080ff;
    box-shadow: 0 1px 0 rgba(0,0,0,.55);
    color: white;
    width: 50%;
    font-size: large;
    border-radius: 5px;
}

div button:hover{
    background-color:#3690ea ;
}

p{
    font-weight: 400;
    color: black;
}

div a{
    color: #0080ff;
    text-decoration: none;
}
.emailInput{
    width: 48.5%;
    height: 30px;
}

