.headDiv {
    min-width: 500px;
    background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/5e16108c-fd30-46de-9bb8-0b4e1bbbc509/5f1f69fb-60cd-4630-a952-24db1a8b342a/IL-en-20240205-popsignuptwoweeks-perspective_alpha_website_small.jpg');
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

header {
    margin-left: 10%;
}

#titleSignin {
    margin-right: 60%;
    font-size: xx-large;
}

.signInForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.7);
    /* padding: 48px 68px; */
    padding: 2.5% 3.5%;
    padding-bottom: 10px;
    border-radius: 4px;
    color: white;
    text-align: center;
    box-sizing: border-box;
    font-family: 'Segoe UI';
}

@media screen and (max-width: 2000px) {
    form.signInForm {
        width: 25%;
        font-size: medium;
    }
}

@media screen and (max-width: 1600px) {
    form.signInForm {
        width: 30%;
        font-size: small;
    }
}

@media screen and (max-width: 1300px) {
    form.signInForm {
        width: 50%;
        font-size: small;
    }
}

@media screen and (max-width: 800px) {
    form.signInForm {
        width: 70%;
        font-size: small;
    }

    .signInForm {
        margin-left: 3%;
        margin-right: 3%;
    }
}

.sendCodeBtn,
.passwordBtn {
    background-color: rgb(229, 9, 20);
    color: white;
    width: 90%;
    border-radius: 4px;
    margin-top: 10px;
    border-width: 0px;
}

.passwordBtn {
    background-color: rgba(128, 128, 128, 0.4);
}

.signIn-btn {
    margin-top: 10px;
    font-weight: 500;
    padding: 3%;
    font-family: 'Segoe UI';
}

a.linkForgot {
    color: white;
    text-decoration: none;
    margin-top: 5%;
}

p.new {
    color: rgba(255, 255, 255, 0.7);
    align-self: flex-start;
}

.checkboxContainer {
    align-self: flex-start;
    margin-top: 70px;
    font-size: 16px;
}

input[type='checkbox'] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid gray;
    border-radius: 4px;
    margin-right: 10px;
    position: relative;
}

input[type='checkbox']::before {
    content: "\2714";
    /* Unicode check mark character */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    color: black;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}

input[type='checkbox']:checked::before {
    opacity: 1;
    /* Make the check mark visible when the checkbox is checked */
}

h3 {
    border: 1px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 90%;
    margin-top: 3%;
}

.signInInput {
    background-color: inherit;
    margin-bottom: 10px;
    padding: 20px;
    border-color: grey;
    border-radius: 4px;
    width: 90%;
    font-size: medium;
    border-width: 1px;
    color: white;
}

.signUpLink {
    color: white;
    font-weight: 500;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.invalidDiv {
    background-color: rgb(216, 157, 49);
    color: black;
    border-radius: 4px;
    padding: 6%;
    margin-bottom: 10px;
    width: 90%;
    text-align: left;
}

div a {
    text-decoration: underline;
}

#autofillSignin {
    border: solid white 1px;
    width: 100%;
    height: 150px;
    text-align: left;
    padding: 20px;
}

.autofillBtn {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 30px auto;
}