@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

.carousel slide{
    font-family: 'Segoe UI';
}

p{
    font-size: medium;
}
.carousel-inner {
    position: relative;
    
}
.content-btnDiv{
    margin-left: 300px;
}
.overlay {
    position: absolute;
    width: 80%;
    padding: 10px 20px;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .overlay .content-title {
        font-size: 60px;
    }
    .overlay .content-btnDiv{
        width: 65%;
    }
    .overlay .content-btnDiv .content-btn{
        font-size:10px;
        width: 30%;
    }
    
}


@media screen and (max-width: 700px) {
    .overlay{
        height: auto;
    }
    .overlay .content-title {
      
        font-size: 50px;
    }
    .overlay .content-btn{
        font-size:10px;
        width: 50%;
    }
    .overlay p {
        font-size: 100%;
    }
    
}

.overlay p {
    color: white;
}

.content-title {
    font-size: 90px;
    color: rgb(229, 9, 20);
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
}


.content-btn {
   
    background-color: rgba(128, 128, 128, 0.771);
    color: white;
    width: 12%;
    margin-left: 4px;
    border-radius: 4px;
    border-style: none;
    
}
.content-btn:hover{
    background-color: rgba(255, 255, 255, 0.915);
    color: black; 
   
}
