#searchPageDivFirst {
    background-color: rgb(24 24 27);
    padding-top: 100px;
}

#titleSearch{
    padding-left: 100px;
}

.containerInSearch {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 200px;
}