.ul-navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: white;
    width: 100%;
    display: flex;
}

.pagesNavigateNavBar {
    align-self: center;
}

.icons-navBar {
    display: flex;
    margin-left: auto;
    margin-right: 50px;
    padding: 14px 16px;
}

li {
    float: left;
}

li a {
    color: white;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: medium;
}

li a:hover {
    color: red;
    text-decoration: none;
}

.searchInput {
    margin-top: 10px;
}

@media screen and (max-width: 700px) {
    .searchInput {
        width: 50%;
        height: 38%;
        margin-top: 7px;
    }

    .icons-navBar {
        width: 30%;
    }

    li a {
        font-size: smaller;
        padding: 10px 10px;
    }
}

#mainDivNavBar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 50;
}

.navBarInHomePage.scrolled {
    background-color: rgb(24 24 27);
}

.navBarInHomePage {
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.9),
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0));
}

.imgDropdown {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.btnDropdown {
    position: relative;
    border-radius: 9px;
    padding: 0;
    border: 0;
    width: 50px;
    height: 50px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    border: solid rgb(31, 41, 55) 1px;
    width: 200px;
    height: 100px;
    right: 0px;
    top: 60px;
    z-index: 1150;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    font-size: small;
}

.lineInDropDown {
    border-color: rgb(31, 41, 55);
}

.dropDownBtn {
    margin-left: 40px;
    margin-top: 35px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.dropDownBtn:hover {
    background-color: rgba(0, 0, 0, 0);
    font-size: medium;
}