.ul-navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
    width: 100%;
    display: flex;
}

.icons-navBar {
    margin-left: auto;
    padding: 14px 16px;
}

li {
    float: left;
}

li a {
    color: white;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: medium;
}

li a:hover {
    color: red;
    text-decoration: none;
}

.searchInput {
    margin-top: 10px;
}

@media screen and (max-width: 700px) {
    .searchInput {
        width: 50%;
        height: 38%;
        margin-top: 7px;
    }

    .icons-navBar {
        width: 30%;
    }

    li a {
        font-size: smaller;
        padding: 10px 10px;
    }
}

#mainDivNavBar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.navBarInHomePage.scrolled {
    background-color: black;
    color: black;
}

.navBarInHomePage {
    background: linear-gradient(to bottom,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.6));
}